body {
    width: 520px;
}

h1 {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    text-shadow: 0 1px 1px #333;
    text-align: left;
    padding: 0 10px;
}

p {
    font-family: Georgia,serif;
    font-size: 12px;
    line-height: 160%;
    padding: 0 10px;
}

a {
    color: #1240AB;
}

.sharebuttons {
    display: block;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    color: #1240AB;
    padding: 8px;
}