body {
    width: 520px;
}

h1 {
    font-family: Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 1px #333;
    text-align: center;
    padding: 0px 10px;
}

p {
    font-family: Georgia,serif;
    line-height: 140%;
    padding: 0px 10px;
}

a {
    color: #1240ab;
}

.sharebuttons {
    display: block;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    color: #1240ab;
    padding: 8px;
}